@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
h1{
    color: aquamarine;
    text-align: center;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    padding: 50px;
    background-color:dimgrey;
}
img{
    /* display: block;
    margin: auto; */
    float: left;
}